.Rproj.user
.Rhistory
.RData
.sav
NATSAP PRN DATABASE Behrens  Basic Variables only  7.16.14.sav
NATSAP.Rproj
NATSAP.csv
NATSAP_PRN_DATABASE.sav
NewNATSAP.sav
.html
T-tests_cache
.pdf
.png
Documents
Dose Data.csv
T-tests.html
TTestDiff.pdf
TTestDiff.png
NATSAPDoseData.csv
NewNATSAP.csv
dosedata_new.csv
natsap Treatment Dosage 2.6.15 FINAL.pptx
natsap Treatment Dosage 2.6.15.pptx
